


<%= render 'navbar' %>



<h2> &nbsp; </h2>
<h2> Name: </h2>
<p class='Lead'> Ian K. </p>
<h2> Major: </h2>
<p class='Lead'> <%= @major %> </p>
<h2> Age: </h2>
<p class='Lead'> <%= @age + 7 %> </p>
<img class="circular" src="http://confrazzled.com/wp-content/uploads/2014/08/cat2.jpg" alt="">

